@import 'tailwindcss';
/* @config "../tailwind.config.js"; */
/* @config '../tailwind.config.js'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.star {
  cursor: pointer;
  font-size: 1.5rem;
  color: #d1d5db;
  transition: color 0.2s;
}

.star.filled {
  color: #fbbf24;
}

.star:hover {
  color: #f59e0b;
}

.tag-filter {
  transition: all 0.2s;
}

.tag-filter:hover {
  transform: translateY(-1px);
}

.story-card {
  transition: all 0.3s;
}

.story-card:hover {
  transform: translateY(-2px);
}